<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gitalytics report</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/cerulean/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>
      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto;
        /* Negative indent footer by its height */
        margin: 0 auto -60px;
        /* Pad bottom by footer height */
        padding: 0 0 60px;
      }

      /* Set the fixed height of the footer here */
      #footer {
        height: 60px;
        background-color: #f5f5f5;
      }


      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding: 60px 15px 0;
      }
      .container .text-muted {
        margin: 20px 0;
      }

      #footer > .container {
        padding-left: 15px;
        padding-right: 15px;
      }

      .user-avatar {
        margin: 0 10px 10px 0;
      }

      .dp {
        box-sizing: border-box;
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
      }

      .dp:hover {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        /*-webkit-font-smoothing:antialiased;*/
      }

    </style>
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://rubygems.org/gems/gitalytics">Gitalytics</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Users</a></li>
              <!-- <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Users</h1>
          <p class="lead">Compare the quantity of commits made by each of your repository contributors.<br/> Check who is writing most of the code of your project and maybe give him/her a prize! ;)</p>
          <% @users.each do |user| %>
            <a href="#" title="<%= user.name %> <small><%= user.email %></small>" class="user-avatar" data-content="<%= user.summary %>">
              <img class="dp img-circle" src="<%= "http://www.gravatar.com/avatar/#{user.gravatar}" %>" style="width: 100px; height:100px; border-color:<%= user.rgba %>"></a>
          <% end %>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h2>Commits count per user</h2>
            <canvas id="usersPieChart" width="550" height="400"></canvas>
          </div>
          <div class="col-md-6">
            <h2>Commits per weekday per user</h2>
            <canvas id="usersRadarChart" width="550" height="400"></canvas>
          </div>
        </div>
        <hr>
          <h2>Insertions vs. Deletions</h2>
          <canvas id="usersBarChart" width="1100" height="400"></canvas>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Gitalytics v<%= VERSION %> by <a href="http://gonzalo.robaina.me">Gonzalo Robaina</a></p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
    <script>
      $('.user-avatar').popover({ trigger: 'hover', html: true }).click(function(e){
        e.preventDefault();
      });

      // Data for Users Pie Chart
      var data = [<%= @users.map{|d| "{ value: #{d.commits.count}, color: '#{d.rgba}' }" }.join(',') %>];
      var ctx = document.getElementById("usersPieChart").getContext("2d");
      var usersPieChart = new Chart(ctx).Pie(data);

      // Data for Insertions vs. Deletions Bar Chart
      var data = {
        labels: [<%= @users.map{|d| "'#{d.name}'" }.join(',') %>],
        datasets: [
          {
            data: [<%= @users.map{|d| "#{d.total_insertions}" }.join(',') %>],
            fillColor: 'rgba(196, 234, 44, 0.5)',
            strokeColor: 'rgba(196, 234, 44, 1)'
          },
          {
            data: [<%= @users.map{|d| "#{d.total_deletions}" }.join(',') %>],
            fillColor: 'rgba(234, 80, 44, 0.5)',
            strokeColor: 'rgba(234, 80, 44, 1)'
          }
        ]
      };
      var ctx = document.getElementById("usersBarChart").getContext("2d");
      var usersBarChart = new Chart(ctx).Bar(data);

      // Data for Weekday commits per user
      var data = {
        labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        datasets: [
          <% @users.each_with_index do |user, i| %>
          {
            fillColor : "<%= user.rgba('0.5') %>",
            strokeColor : "<%= user.rgba %>",
            pointColor : "<%= user.rgba %>",
            pointStrokeColor : "#fff",
            data : [<%= user.weekday_commits.join(', ') %>]
          }<%= ',' unless i + 1 == @users.count %>
          <% end %>
        ]
      };
      var ctx = document.getElementById("usersRadarChart").getContext("2d");
      var usersRadarChart = new Chart(ctx).Radar(data);
    </script>
  </body>
</html>
